---
import { getCollection } from "astro:content";

const base = import.meta.env.BASE_URL;
const currentPath = Astro.url.pathname;

const bounties = (await getCollection("bounty")).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const bountyPath = `${base}bounty/`;
---

<style>
  #bounty-list {
    top: 92px;
    /* Set a z-index lower than the site header (1000) to ensure the header's
       dropdowns appear above this sticky element. */
    z-index: 1;
  }
</style>

<div id="bounty-list" class="list-group sticky-top">
  {
    bounties.map((bounty) => (
      <a
        href={bountyPath + bounty.slug}
        class={`list-group-item list-group-item-action ${currentPath.startsWith(bountyPath + bounty.slug) ? "active" : ""}`}
      >
        <div class="w-100 justify-content-between">
          <h5 class="mb-1">{bounty.data.title}</h5>
          <small>
            {bounty.data.date.toLocaleDateString()} - {bounty.data.deadline.toLocaleDateString()}
          </small>
        </div>
        <p class="mb-1 p-2">{bounty.data.summary}</p>
        <small>{bounty.data.winner}</small>
      </a>
    ))
  }
</div>
